services:
  - type: web
    name: saint-anne-show
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn ticket_system_unified:app
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: base_donnee
          property: connectionString
    autoDeploy: true

